body{
    margin: 0%;
    min-height: 100%;
    font-size: xx-large;
    font-family: monospace;
}
html{
    height: 100%;
}

.contenedorPrincipal{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size:340%;
    
}
button{
    border-radius: 10px;
    border-style: ridge;
    font-size: x-large;
    border-color: rgb(22, 220, 243);
    padding: 10px;
}